@import "../../assets/styles/variables.scss";

.bottomBlock {
  border-radius: 121px;
  width: 343px;
  height: 84px;
  background: $background-second;
  margin-bottom: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.navButton {
  border-radius: 123px;
  padding: 12px;
  width: 60px;
  height: 60px;
  background: $background-second;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navButton.active {
  border: 1px solid $chernyy;
  background: $blue;
}

.navButton:not(.active) {
  border: 0px solid $background-second;
}

.navButton:hover {
  background: $blue;
  border: 1px solid $chernyy;
}

.navButton:active {
  background: $blue2;
  border: 1px solid $chernyy;
}

.navButton.disabled {
  cursor: not-allowed;
  pointer-events: none;
  background: $background-second;
  border: 0px solid $background-second;
}
