@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.container {
  @include container;
}

.centralBlock {
  @include centralBlockFlex1;
}

.sections {
  font-family: $font-family;
  font-weight: 600;
  font-size: 32px;
  line-height: 62%;
  letter-spacing: -0.02em;
  text-align: left;
  color: $chernyy;
  margin-bottom: 20px;
}

.loginWindowWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  flex: 1;
}

.footer {
  margin-top: auto;
}
