@import "../../assets/styles/variables.scss";

:root {
  --tg-theme-bg-color: #efeff3;
  --tg-theme-button-color: #2dd29b;
  --tg-theme-button-color-hover: #2ba97f;
  --tg-theme-button-text-color: white;
}

.styledApp {
  color: #fffdfd;
  min-height: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: "SF Pro Text", sans-serif;
}

.appContainer {
  max-width: 343px;
  margin: 0 auto;
}
