@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.container {
  @include container;
}

.centralBlock {
  @include centralBlockFlex1;
}

.sections {
  font-family: $font-family;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: -0.02em;
  line-height: 1;
  text-align: left;
  color: $chernyy;
}

.loginWindowWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.backButton {
  border: 1px solid $chernyy;
  border-radius: 16px;
  padding: 8px 16px;
  background: $total-black;
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  color: $white;
  cursor: pointer;
  margin-bottom: 60px;
  align-self: center;
}

.backButton:hover {
  background: $blue;
  color: $total-black;
}

.footer {
  margin-top: auto;
}
