@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.container {
  @include container;
}

.centralBlock {
  @include centralBlockFlex1;
}

.contentFilling {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
}

.sections {
  font-family: $font-family;
  font-weight: 600;
  font-size: 32px;
  line-height: 62%;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--chernyy);
  margin-bottom: 48px;
}

.actionButton {
  border: 1px solid $chernyy;
  border-radius: 16px;
  padding: 8px 4px;
  width: 343px;
  height: 36px;
  background: $background-second;
  text-align: center;
  cursor: pointer;
  font-family: $font-family;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: $chernyy;
  cursor: pointer;
  margin-bottom: 12px;
}

.actionButton:hover {
  background: $blue;
}

.actionButton:active {
  background: $blue2;
}
