@import "../../assets/styles/variables.scss";

.coinArea {
  width: 343px;
  height: 26px;
  margin-top: 44px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blockCoin {
  width: 229px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}
