@import "../assets/styles/variables.scss";

.coinArea {
  width: 343px;
  height: 26px;
  margin-top: 44px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blockCoin {
  width: 229px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.gramCoinBlock {
  width: 71px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconGramBlock {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amountGramBlock {
  font-family: $font-family;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 42px;
  margin-left: 5px;
}

.bitCoinBlock {
  width: 71px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconBitBlock {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amountBitBlock {
  font-family: $font-family;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 42px;
  margin-left: 5px;
}

.dogCoinBlock {
  width: 71px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconDogBlock {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amountDogBlock {
  font-family: $font-family;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 42px;
  margin-left: 5px;
}

.tonGameCoin {
  border-radius: 61px;
  padding: 1px;
  width: 90px;
  height: 26px;
  background: $blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconTonBlock {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.iconTonBlock:hover {
  transform: scale(1.1);
}

.iconTonBlock:active {
  transform: scale(1.2);
}

.amountTonGameBlock {
  font-family: $font-family;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 61px;
  margin-left: 5px;
}

.energy {
  width: 343px;
  height: 44px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.energyBar {
  width: 343px;
  height: 24px;
}

.blockValuesEnergy {
  width: 343px;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.valueEnergyBlock {
  font-family: $font-family;
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  letter-spacing: -0.04em;
  text-align: right;
  color: $chernyy;
  margin-right: 5px;
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.iconEnergy {
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
}
