@import "../../assets/styles/variables.scss";

.container {
  width: 375px;
  height: 800px;
  border: 2px solid gray;
  border-radius: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 16px;
}

.centralBlock {
  width: 343px;
  height: 576px;
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.sections {
  font-family: $font-family;
  font-weight: 600;
  font-size: 32px;
  line-height: 62%;
  letter-spacing: -0.02em;
  text-align: left;
  color: $chernyy;
  margin-bottom: 35px;
}
