@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.container {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.centralBlock {
  @include centralBlockFlexGrow;
  margin-bottom: 30px;
}

.sections {
  font-family: $font-family;
  font-weight: 600;
  font-size: 32px;
  line-height: 62%;
  letter-spacing: -0.02em;
  text-align: left;
  color: $chernyy;
  margin-bottom: 32px;
}

.blockFilterOperations {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-bottom: 32px;
}

.buttonFilter {
  border: 1px solid $chernyy;
  border-radius: 53px;
  padding: 1px 8px;
  width: 111px;
  height: 32px;
  background: $background-second;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  font-family: $font-family;
  font-weight: 600;
  font-size: 12px;
  line-height: 167%;
  letter-spacing: -0.04em;
  text-align: center;
  color: $total-black;

  &:hover,
  &:active,
  &.active {
    border: 1px solid $chernyy;
    background: $blue;
  }
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
