@import url("https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@300;400;500;700&display=swap");

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SF-Pro-Display-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SF-Pro-Display-BlackItalic.otf")
    format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SF-Pro-Display-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SF-Pro-Display-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SF-Pro-Display-HeavyItalic.otf")
    format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SF-Pro-Display-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SF-Pro-Display-LightItalic.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SF-Pro-Display-MediumItalic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SF-Pro-Display-RegularItalic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SF-Pro-Display-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SF-Pro-Display-SemiboldItalic.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SF-Pro-Display-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SF-Pro-Display-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SF-Pro-Display-Ultralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/src/assets/fonts/SF-Pro-Display-UltralightItalic.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("/src/assets/fonts/SF-Pro-Text-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("/src/assets/fonts/SF-Pro-Text-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

:root {
  --white: #fff;
  --total-black: #000;
  --black: #191919;
  --grey: #c2c2c2;
  --blue: #66fecb;
  --red: #ff4141;
  --background-main: #f4f6f1;
  --background-second: #e3e3e3;
  --chernyy: #393931;
}

$white: #fff;
$total-black: #000;
$black: #191919;
$grey: #c2c2c2;
$blue: #66fecb;
$blue2: #2ac08e;
$red: #ff4141;
$background-main: #f4f6f1;
$background-second: #e3e3e3;
$chernyy: #393931;

$font-family: "SF Pro Text", sans-serif;
$second-family: "Simplon Mono", sans-serif;
$third-family: "Wadik", sans-serif;
$font3: "TT Mussels", sans-serif;
$font4: "Montserrat", sans-serif;
$font5: "Terminator Gen", sans-serif;
$font6: "EuropeExtendedC", sans-serif;
