@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.container {
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.centralBlock {
  @include centralBlockFlexGrow;
}

.contentFilling {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.sections {
  font-family: $font-family;
  font-weight: 600;
  font-size: 32px;
  line-height: 62%;
  letter-spacing: -0.02em;
  text-align: left;
  color: $chernyy;
  margin-bottom: 35px;
}

.ASICBlock,
.VideoCardBlock,
.LaptopBlock {
  width: 100%;
  margin-bottom: 24px;
}

.asicName,
.videoCardName,
.LaptopName {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.asicText,
.videoCardText,
.LaptopText {
  font-family: $font-family;
  font-weight: 600;
  font-size: 24px;
  line-height: 83%;
  letter-spacing: -0.02em;
  text-align: right;
  color: $chernyy;
  margin-right: 16px;
}

.ASICMining,
.videoCardMining,
.LaptopMining {
  border: 1px solid $chernyy;
  border-radius: 61px;
  padding: 1px 8px 1px 1px;
  width: 91px;
  height: 24px;
  background: $blue;
  display: flex;
  align-items: center;
}

.ASICMining img,
.videoCardMining img,
.LaptopMining img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.miningText {
  font-family: $font-family;
  font-weight: 600;
  font-size: 12px;
  line-height: 167%;
  letter-spacing: -0.04em;
  text-align: right;
  color: $total-black;
}

.ASICIconBlock,
.VideoCardIconBlock,
.LaptopIconBlock {
  padding: 0px 1px;
  width: 100%;
  height: 108px;
  display: flex;
  align-items: center;
}

.ASICIconBlock img,
.VideoCardIconBlock img,
.LaptopIconBlock img {
  width: 108px;
  height: 108px;
}

.iconWrapper {
  margin-right: 8px;
}

.iconWrapper:last-child {
  margin-right: 0;
}

.footer {
  margin-top: auto;
}
